.body-container {
     display: flex;
     height: 81vh;
     align-items: center;
     overflow: hidden;
}
.body-container > div {
     overflow: hidden;
}

h1{
     color: #fff;
}

.div-overflow{
     overflow: hidden;
     border: 1px solid #fff;
}

.body-intro {
     color: #fff;
     font-family: Bebas Neue;
     inline-size: 60%;
     padding: 20px;
     letter-spacing: 3.5px;
     font-size: 2.5em;
     overflow: hidden;
}
.body-intro > span {
     color: rgb(101, 255, 101);
     font-family: Mynerve;
}

@media screen and (max-width: 540px) {
     .body-intro {
          inline-size: 85%;
          font-size: 25px;
     }
}
