.single-project-container {
     width: 90%;
     padding: 20px;
}
.single-project-container
     > div
     > div:nth-of-type(1)
     > div:nth-of-type(1)
     > div
     > img {
     filter: grayscale(100%);
     top: 0px;
     left: 0px;
     width: 90%;
     height: 39.1vw;
     object-fit: cover;
     object-position: center center;
     opacity: 0.4;
     transition: none 0s ease 0s;
}
.single-project-container > div {
     padding: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.single-project-container
     > div
     > div:nth-of-type(1)
     > div:nth-of-type(1)
     > div:nth-of-type(1) {
     position: absolute;
     height: 43.0625vw;
     display: flex;
     align-items: end;
}
.single-project-container
     > div
     > div:nth-of-type(1)
     > div:nth-of-type(1)
     > div:nth-of-type(1)
     > p {
     font-size: 6vw;
     letter-spacing: 1.5px;
     position: absolute;

     z-index: 1;
     font-family: bebas neue;
}
.single-stack-tech-container > h1 {
     font-family: mynerve;
     letter-spacing: 1.5px;
     margin-bottom: 20px;
     color: rgb(101, 255, 101);
     font-size: 2vw;
     /* font-size: px; */
}

.single-stack-container > div {
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.single-stack-tech-container > div > div {
     border-top: 1px solid #fff;
     font-family: Bebas neue;
     letter-spacing: 1.5px;
     padding-bottom: 15px;
     /* display: flex; */
}

.single-stack-container {
     display: flex;
     gap: 15px;
     flex-direction: column;
     border: 50px solid #fff;
}

.single-stack-tech-container > div > div > p {
     font-family: Bebas neue;
     letter-spacing: 1.5px;
     font-size: 1.5vw;
}

.single-project-container > section > div:nth-of-type(1) {
     display: flex;
     justify-content: end;
     align-self: center;
}
.single-project-container > section > div:nth-of-type(1) > p {
     font-family: mynerve;
     font-size: 1.5vw;
     text-align: end;
     width: 40%;
     color: rgb(101, 255, 101);
}
.single-project-container > section > div:nth-of-type(2) {
     display: flex;
     gap: 20px;
     justify-content: space-around;
     margin-top: 30px;
}
.single-project-container {
     margin-bottom: 40px;
}
.single-project-container > section > div:nth-of-type(2) > a {
     font-family: mynerve;
     font-size: 2.5vw;
     color: #fff;
}

.single-project-container > section > div:nth-of-type(2) > a:nth-of-type(1) {
     color: rgb(101, 255, 101);
}

.single-project-container > section > div:nth-of-type(2) > a:nth-of-type(2) {
     border-top: 1px solid #cecece;
}

@media screen and (max-width: 540px) {
     .single-project-container {
          padding: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 20px;
     }
     .single-project-container
          > div
          > div:nth-of-type(1)
          > div:nth-of-type(1)
          > div
          > img {
          top: 0px;
          left: 0px;
          width: 100%;
          height: 600px;
     }

     .single-stack-tech-container {
          display: flex;
          flex-direction: column;
     }
     .single-stack-tech-container {
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 100%;
     }
     .single-stack-tech-container > h1 {
          font-size: 6.5vw;
          /* font-size: px; */
     }

     .single-project-container
          > div
          > div:nth-of-type(1)
          > div:nth-of-type(1)
          > div:nth-of-type(1) {
          height: 640px;
     }
     .single-stack-tech-container > div > div > p {
          font-size: 5vw;
     }
     .single-project-container
          > div
          > div:nth-of-type(1)
          > div:nth-of-type(1)
          > div:nth-of-type(1)
          > p {
          font-size: 15vw;

          position: relative;
     }

     .single-project-container > section > div:nth-of-type(1) {
          justify-content: start;
          padding: 20px;
     }
     .single-project-container > section > div:nth-of-type(1) > p {
          font-family: mynerve;
          font-size: 5vw;
          text-align: start;
          width: 80%;
     }
     .single-project-container > div > div:nth-of-type(1) {
          /* flex-direction: column; */
          margin-bottom: 50px;
     }
     .single-project-container > div {
          flex-direction: column;
          gap: 50px;
     }

     .single-stack-container > h1 {
          margin-bottom: 0px;
     }

     .single-project-container > section > div:nth-of-type(1) > p {
          /* font-size: 1.5vw; */
     }

     .single-project-container > section > div:nth-of-type(2) > a {
          font-size: 5vw;
     }
}
